node_modules
coverage
saf-workflow-status.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log

# Playwright
**/test-results
**/playwright-report
**/e2e/**/*.jpeg
**/e2e/**/*.png